<form #ref="ngForm" (ngSubmit)="onAddProduct(ref.value)" class="w-75 mx-auto mt-5">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="id" name="id"
            ngModel>
        <label for="username">id</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="year" placeholder="model" name="year" ngModel>
        <label for="model">year</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name"  name="name" ngModel>
        <label for="email">name </label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="profile" placeholder="Email" name="profile" ngModel></textarea>
        <label for="dob">profile</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="cast" placeholder="Email" name="cast" ngModel></textarea>
        <label for="dob">cast</label>
    </div>
   
    <div class="form-floating mb-3">
        <textarea type="date" class="form-control" id="overview" placeholder="Email" name="overview" ngModel></textarea>
        <label for="dob">overview</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="wheretowatch" placeholder="Email" name="wheretowatch" ngModel></textarea>
        <label for="dob">wheretowatch</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="rating" placeholder="Email" name="rating" ngModel></textarea>
        <label for="dob">rating</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="imdb" placeholder="Email" name="imdb" ngModel></textarea>
        <label for="dob">imdbrating</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="language" placeholder="Email" name="language" ngModel></textarea>
        <label for="dob">language</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="time" placeholder="Email" name="time" ngModel></textarea>
        <label for="dob">runtime</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="director" placeholder="Email" name="director" ngModel></textarea>
        <label for="dob">director</label>
    </div>


    <input type="file" name="photo" class="form-control mb-3" ngModel (change)="selectFile($event)">

    <button class="btn btn-success" type="submit">Add movie</button>
</form>