<div class="row">
    <div class="card mt-5">
    
    <h4 class="text-dark mt-3">Upcomming</h4>
    <h6 class="text-dark">Don't Miss any moment of ypur favorite Movies and TV shows
               <br>
        as we give you the latest  Streaming premier Dates
    </h6>  
    </div>
</div>
<div class="row">
    <h4 class="text-dark mt-5"><img src="https://files.ottwatchlist.com/oDfPr7R8MqKURdUqj4kx3N7Ibq8hgbSXOtyARchU/7987b5a45fd5c157411132f5aae2ba0f_XlMGAe9XvW.jpeg"
         width="5%" alt=""> Disney Plus <hr class="text-dark w-50 ">
    </h4>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">

                <div class="col-sm-3 mt-2">
                    <h6 class="text-dark">april 11,2021</h6>
                    <img src="https://image.tmdb.org/t/p/w500/7rhzEufovmmUqVjcbzMHTBQ2SCG.jpg"  width="90%" alt="">
                </div>
                <div class="col-sm-3 mt-2">
                    <h6 class="text-dark">July 15,2021</h6>
                    <img src="https://image.tmdb.org/t/p/w500/qAZ0pzat24kLdO3o8ejmbLxyOac.jpg"  width="90%" alt="">
                </div>
                <div class="col-sm-3 mt-2">
                    <h6 class="text-dark">may 13,2021</h6>
                    <img src="https://image.tmdb.org/t/p/w500/bEFFj0KKtOIYbydhcxJSDq0hzg7.jpg"  width="90%" alt="">
                </div>
                <div class="col-sm-3 mt-2">
                    <h6 class="text-dark">June 11,2021</h6>
                    <img src="https://image.tmdb.org/t/p/w500/bxN3Mv0AOauu6oDJHsed3mPubUN.jpg" 
                     width="90%"alt="">
                </div>
                <div class="col-sm-3 mt-2">
                    <h6 class="text-dark">June 19,2021</h6>
                    <img src="https://image.tmdb.org/t/p/w500/dKt6sDEGVGbQWkaBuVZxJcLmQXj.jpg"  width="90%" alt="">
                </div> 
        </div>
        </div>
    </div>
    <div class="row">
        <h4 class="text-dark mt-5"><img src="https://files.ottwatchlist.com/oDfPr7R8MqKURdUqj4kx3N7Ibq8hgbSXOtyARchU/e6f64556ad35f6dd15930f71f1518e59_t7FVajuP5W.jpeg"
             width="5%" alt=""> Amazon Prime <hr class="text-dark w-50 ">
        </h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
    
                    <div class="col-sm-3 mt-2">
                        <h6 class="text-dark">June 11,2021</h6>
                        <img src="https://image.tmdb.org/t/p/w500/bxN3Mv0AOauu6oDJHsed3mPubUN.jpg"  width="90%" alt="">
                    </div>
                    <div class="col-sm-3 mt-2">
                        <h6 class="text-dark">June 21,2021</h6>
                        <img src="https://image.tmdb.org/t/p/w500/MKuB2OEpwQfATKwz2y9PQJZQ1c.jpg"  width="90%" alt="">
                    </div>
            </div>
            </div>
        </div>
        
        <div class="row">
            <h4 class="text-dark mt-5"><img src="https://files.ottwatchlist.com/oDfPr7R8MqKURdUqj4kx3N7Ibq8hgbSXOtyARchU/776caccaba498e8e746f569e943d7b9e_netflix.png"
                 width="5%" alt=""> Netflix <hr class="text-dark w-50 ">
            </h4>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
        
                        <div class="col-sm-3 mt-2">
                            <h6 class="text-dark">June 14,2021</h6>
                            <img src="https://image.tmdb.org/t/p/w500/bKpkB86oJ2IyIlpGLTF66zBPSDp.jpg"  width="90%" alt="">
                        </div>
                </div>
                </div>
            </div>
            <div class="row">
                <h4 class="text-dark mt-5"><img src="https://files.ottwatchlist.com/oDfPr7R8MqKURdUqj4kx3N7Ibq8hgbSXOtyARchU/319dec8bdc8c608dedc6fc9500c93379_slZGm6QtsG.jpeg"
                     width="5%" alt=""> Aha<hr class="text-dark w-50 ">
                </h4>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
            
                            <div class="col-sm-3 mt-2">
                                <h6 class="text-dark">June 01,2021</h6>
                                <img src="https://image.tmdb.org/t/p/w500/8peYuPeLawgCFhuI4IcDjdrAAXw.jpg"  width="90%" alt="">
                            </div>
                            <div class="col-sm-3 mt-2">
                                <h6 class="text-dark">July 11,2021</h6>
                                <img src="https://image.tmdb.org/t/p/w500/qJ2tW6WMUDux911r6m7haRef0WH.jpg"  width="90%" alt="">
                            </div>
                    </div>
                    </div>
                </div>
 
  
   